<header class="header">
    <a href="/" class="header_logo">Admin Panels</a>
    <nav class="header_nav">
        <ul>
            <li>
                <a href="/" class="">Home</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="/about" class="">About</a>
            </li>
        </ul>
    </nav>

    <div class="header_button">
        <a href="/logout">
            Logout
    </a>
    </div>
</header>