<h2>KW YM <br>Web Developer &<br> Designer</h2>

<p>A graphic designer based in Toronto, Ontario, </p>
<p>studies software engineering remotely. </p>
</p>When I'm not staring at screens, </p>
<p>I'm usually busy with my husky, and learninng new things.</p>
<br>
<br>

<p>Latest portfolio of work available upon request.</p>